*{
    /* background-color: rgba(81, 116, 205, 0.805); */
    background-color: rgb(0, 71, 133);
    color: white;
}

legend{
    color: gold;
    font-size: larger;
    text-transform: uppercase;
}
button{
    background-color: white;
    color: black;
    border: 5px solid rgba(112, 112, 112, 0.311);
}
input{
    background-color: white;
    color: black;
    border: 5px solid rgba(112, 112, 112, 0.311);
}

#f1{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#f1 label{
    padding: 10px;
    margin-left: 10px;
}
#f1 input{
    margin-right: 10px;
}

h3{
    text-align: center;
    font-size:xx-large;
    color: white;
    border: 5px solid rgba(255, 255, 255, 0.311);
    /* box-shadow: 0px 0px 4px 4px blue; */
}

.main1{
    width: 100%;
    display: flex;
}

.left{
    padding: 10px;
    width: 35%;
    float: left;
}

.left  table{
    width: 100%;
    margin-right: 30px;
}

.left table td{
    padding: 10px;
    color: greenyellow;
}
.mid
{
    padding: 10px;
    width: 35%;
    float: left;
}

.mid  table{
    width: 100%;
    margin-right: 30px;
}

.mid table td{
    padding: 10px;
    color: greenyellow;
}

.right{
    margin-top: 15px;
    padding: 10px;
    width: 25%;
    float: right;
    background-color: whitesmoke;
    height: 260px;
    overflow-y: auto;
}
.right h5{
    border: 5px solid rgb(101, 101, 101);
    background-color: antiquewhite;
    color: black;
    font-size: larger;
}
.right p{
    color: black;
    background-color: transparent;
}

.footer{
    color: black;
    /* display: flex; */
    width: 100%;
    /* align-items: center;
    justify-content: center;
    justify-items: center; */
}

/* .footer button{
    /* width: fit-content; 
} */

.footer fieldset{
    width: 100%;
    display: inline-block;
}

.footer fieldset p{
    width: fit-content;
    padding: 10px;
    margin: 2px solid rgb(65, 65, 65);
    box-shadow: 0px 0px 4px 4px rgb(141, 149, 149);   
}
.footer .left1{
    width: 50%;
    float: left;
}
.footer .right1{
    width: 40%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button{
    margin: 10px;
    height: 30px;
    background-color: rgba(95, 193, 160, 0.682);
    border: 3px solid black;
}

.right table{
    width: 100%;
    background-color: transparent;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-top-style:dashed;
    border-bottom-style: dashed;
}

.right table th{
    padding: 3px;
    background-color: whitesmoke;
    color: black;
}